.note-set,
.note-set-focused{
    display: flex;
    flex-direction: column;

    .note{
        white-space: pre;

        font-size: 16pt;
        font-weight: bold;
        
        margin-bottom: -3px;
    }

    .note-focused{
        background-color: #1DFF1D;
    }
}

.note-set-focused{
    background-color: #00000027;
}