#TabSheet{
    display: flex;
    flex-direction: column;

    width: 700px;
    
    margin-bottom: 100px;
    padding: 50px 80px 126px 80px;
    
    background-color: #fff;
    border-radius: 5px;

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);

    .tab-name{
        margin-bottom: 30px;
        text-align: center;
    
        input{
            border: none;
            border-bottom: 3px solid #212121;
            outline: none;

            font-size: 24pt;
            font-weight: bold;
            font-family: 'Source Code Pro', monospace;
        }
    }
}